<div class="modal-dialog">
  <div class="modal-content" style="width:550px">
    <div class="about">
      <h1>遊び方</h1>
      <h3>１ ログインしましょう！</h3>
      <p>　ユーザーを新規作成し、ログインしてください。</p>
      <p>　とりあえず試してみたい！という方はゲストとしてログインすることもできます！</p>
      <%= link_to "ゲストとしてログイン", guest_new_path, class: "btn btn-info guest-login" %>

      <h3>２ 対戦ルームに参加しましょう！</h3>
      <p>　オセロで遊ぶには対戦ルームに参加する必要があります。</p>
      <p>　対戦ルームは自分で作成することができるほか、他のユーザーが作成したルームに参加することもできます。</p>
      <p>　また、対戦中に対戦相手とチャットを楽しむこともできます！</p>

      <h3>３ 友達を増やしましょう！</h3>
      <p>　他のユーザーに友達申請を送ることができます。</p>
      <p>　友達申請が承認されると友達として登録され、友達限定の対戦ルームに参加することができます！</p>
     </div>
    </div>
</div>
