<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>

<%= link_to "ルーム作成", rooms_new_path, remote: true, class: "btn btn-lg btn-primary" %>
<div class="rooms">
  <p>ルーム数　<%= @rooms.count %></p>
  <p>ゲーム数 <%= @games.count %></p>
  <%= render @rooms %>
</div>
<div id="new-room" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
