<h1>StaticPages#index</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>

<%= link_to "ルーム作成", new_room_path, remote: true, class: "need-login btn btn-lg btn-primary" %>
<p class="fukidashi">ログインが必要です</p>
<div class="rooms">
  <p>ルーム数　<%= @rooms.count %></p>
  <p>ゲーム数 <%= @games.count %></p>
  <%= render @rooms %>
</div>
<div id="modal-frame" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<% unless user_signed_in? %>
  <script type="text/javascript">
    $(function(){
      $('.need-login')
        // クリックを無効化
        .click(function(){
          return false;
        })
        // カーソルの位置に吹き出しを表示
        .mousemove(function(e){
          $('.fukidashi').css({
            'display': 'block',
            'top': e.clientY - 70,
            'left': e.clientX - 20
          });
        })
        // 吹き出しを非表示に
        .mouseout(function(){
          $('.fukidashi').css({
            'display': 'none',
          });
        });
    });
  </script>
<% end %>
