<%= gravatar_for user, size: 50 %>
<div class="user-name"><%= link_to user.name, user %></div>
<div class="friend-tag" id="user-id-<%= user.id %>">
  <%= render "/friends/friend_tag", user: user %>
</div>
