<h2>ユーザー一覧</h2>

<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <div class="user">
        <%= render user %>
      </div>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
