<div class="modal-dialog">
  <div class="modal-content">
   <h1>参加用フォーム</h1>
   <%= form_with url: "/rooms/#{room.id}", method: "patch" do %>
     <% if room.has_password? %>
       <%= label :password, "パスワード" %>
       <%= password_field :room, :password %>
     <% end %>
     <%= submit_tag "参加する", class: "btn btn-primary" %>
   <% end %>
  </div>
</div>
