<div class="row">

  <div id="board" class="col-sm-7">
    <%= render '/games/board', { room: @room, game: @room.game, stones: @room.game.get_stones } %>
  </div>
  <div class="col-sm-5">
    <div class="score-board">
      <%= render '/rooms/score', { room: @room, game: @room.game } %>
    </div>
    <div id="chats">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="chat-input" placeholder="チャットを送る">
          <input type="submit" class="btn btn-primary" id="send-chat"></input>
        </div>
      </form>
      <div id="chat-contents">
        <% @room.chats.each do |chat| %>
          <div <%= 'class=mine' if chat.user_id == current_user.id %>>
            <p><%= chat.content %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  // チャット送信時、テキストが空なら送信しない
  $('#send-chat').click(function() {
    const inputValue = $('#chat-input').val()
    if(inputValue == "") return false
    $.ajax({url: '/chats/create', type: "POST", data:{ content: inputValue }});
    $('#chat-input').val("")
    return false
  });

  // リンククリック時の処理
  $('a').click(function() {
    alert("ページから移動するには対戦を終了させてください。")
    return false;
  });

  <% if @room.guest == current_user %>
    App.room.speak("participation_guest")
    setTimeout(function(){
      App.room.speak("game_update")
    },3000);
  <% end %>
</script>
