@import "bootstrap";
@import "material_icons";

/* 共通設定 */

$gray-medium-light: #eaeaea;

@mixin bottom-line {
  border-bottom: 1px solid $gray-medium-light;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;

  display: inline-flex;
  vertical-align: top;

  &.rotate {
    transform: rotate(90deg);
  }
}



/* フラッシュメッセージ */

.flash {
  display: none;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  &_alert{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  &_warning {
    color: #69522b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  &_notice {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  &#active {
    display: block;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 20px;
    opacity: 0.9;
    border-radius: 0.25rem;
    text-align: center;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    -webkit-transform: translateY(-65px);
    -webkit-animation: slideDown 3.5s 0s 1 ease forwards;
    -moz-transform:    translateY(-65px);
    -moz-animation:    slideDown 3.5s 1.0s 1 ease forwards;
  }
}

@-webkit-keyframes slideDown {
  0%, 100% { -webkit-transform: translateY(-65px); }
  10%, 90% { -webkit-transform: translateY(10px); }
}
@-moz-keyframes slideDown {
  0%, 100% { -moz-transform: translateY(-65px); }
  10%, 90% { -moz-transform: translateY(10px); }
}

/* gravatar */

img.gravatar {
  border-radius: 50%;
}

/* ナビゲーションバー */

nav {
  li {
    margin-left: 15px;
  }

  a {
    color: white;
    span {
      display: table-cell;
      width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .dropdown-menu {
    background: #929292;
  }
}

/* モーダル */
.modal-content {
  width: 400px;
  padding: 20px;

  h1 {
    text-align: center;
  }
  form {
    margin-top: 20px;
    margin-left: 80px;
    width: 200px;

    .btn {
      margin-top: 20px;
      float: right;
    }
  }
}

/* ページネーション */
div.pagination {
  padding-left: 40px;

  ul {
    list-style: none;
    position: relative;
    float: left;

    li {
      margin: 0 1px;
      position: relative;
      float: left;

      &.active a {
        background: #777;
        color: #FFF;
      }

      a {
        display: block;
        font-size: 16px;
        padding: 0.6em 1em;
        border-radius: 5px;
        background: #ddd;
        border: 1px solid #ccc;
        color: #000;
        text-decoration: none;

        &:hover {
          background: #777;
          color: #FFF;
        }
      }
    }
  }
}

/* フレンドタグ */

div.friend-tag{
  display: inline-flex;

  div{
    position:relative;
    width: 170px;
    height: 27px;
    margin-left: 8px;
    border: 1px solid #aaa;
    border-radius: 20px;
    background: #d0d6d1;
    text-align: center;
    font-weight: bold;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all  0.1s ease;

    &.friendships {
      background: #00acee;
      &:hover {
        background: #ef5d5d;
      }
      a {
        color: white;
      }
    }

    &.choice-list {
      border: none;
      background: white;
      display: -webkit-box;
      a {
        position: relative;
        display: table-cell;
        margin: 10px;
        width: 85px;
        height: 27px;
        border: 1px solid #aaa;
        border-radius: 20px;
        background: #d0d6d1;
        &.agree:hover {
          background: #00acee;
          color: white;
        }
        &.reject:hover {
          background: #ef5d5d;
          color: white;
        }
      }
    }

    &.received-request {
      position: absolute;
      background: #ffb52a;
      a {
        font-size: 15px;
        color: #686b6d;
      }
    }

    &.sent-request {
      background: #8ee692;
      &:hover {
        background: #ef5d5d;
        & > a {
          color: white;
        }
      }
      a{
        color: #686b6d;
      }
    }

    &.non-friend {
      background: #d0d6d1;
      &:hover {
        background: #8ee692;
      }
      a{
        color: #686b6d;
      }
    }

    & > a {
      color: #8a8a8a;
      text-decoration: none;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* トップページ */
.top-page {
  padding-top: 20px;

  div.box {
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;

    li {
      position: relative;
      z-index: 1;
      overflow: auto;
      padding: 18px 5px 5px 10px;
      height: 4rem;
      border-radius: 5px;
      margin: 10px;
      list-style: none;

      a {
        position: relative;
        z-index: 3;

        &.cover-link {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-indent:-999px;
          z-index: 2;

          &:hover {
            background-color: rgba(0,0,0,0.1);
          }
        }
      }
    }
  }

  div.rooms-box {
    background-color: aliceblue;
    border: 3px solid #ccb161;

    li {
      background-color: #d0e4f5;
    }

    span {
      font-size: 13px;
      margin-left: 15px;
    }
  }

  div.online_users-box {
    background-color: #dcf9dc;
    border: 3px solid #ccb161;

    li {
      background-color: #afeaa1;
    }
  }
}


/* ユーザー一覧 */

ul.users {
  li {
    list-style: none;
    overflow: auto;
    padding: 25px 5px 5px 5px;
    height: 5rem;
    @include bottom-line;

    img.gravatar {
      margin-right: 8px;
      margin-top: -7px;
      float: left;
    }

    div.user-name {
      width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-flex;

      a {
        color: black;
        text-decoration: none;
        margin-left: 20px;
      }
    }
  }
}

/* ユーザー詳細 */
.user-details {
  text-align: center;

  * {
    margin-bottom: 20px;
  }
  .user-icons {
    text-align: center;
  }

  table{
    width: 490px;

    th{
      padding: 7px 0;
      width: 155px;
      border: medium solid black;
      background-color: #D4DFE6;

      &#total-games {
        background-color: #b3d7ff;
      }
    }
    td{
      border: medium solid black;
      font-weight: bold;
      text-align: center;
      padding: 7px 0;
      width: 155px;
    }
  }
}

/* 友達関連画面 */
.friends-pages ul.users {
  li {
    height: 5rem;
  }
}

/* 入力フォーム */

.field_with_errors {
  .form-control {
    color: #a94442;
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

/* 新規ユーザー作成フォーム */
.sign-up-user {
  .col-md-6 {
    margin-left: 25%;
  }

  div#user-create-btn {
    text-align: right;
    margin-top: 20px;
  }
}

/* ログインフォーム */
.sign-in-user {
  .col-md-6 {
    margin-left: 25%;

    .btn {
      text-align: right;
      margin-top: 20px;
      float: right;
    }
  }
}

/* ユーザー編集フォーム */
.edit-user {
  .col-md-6 {
    margin-left: 25%;
  }

  div.btn-line {
    display: block;
    margin-top: 20px;
    text-align: right;
  }

  .gravatar_edit {
    margin: 20px 0;
  }
}

/* ゲームテーブル */
#board {
  td{
    width: 60px; height: 60px;
    text-align: center;
    border: medium solid black;

    &.can-be-b:hover > div {
      background: rgba(0,0,0,0.5);
      margin: auto;
      width: 45px; height: 45px;
      border-radius: 50%;
    }

    &.can-be-w:hover > div {
      background: rgba(255,255,255,0.6);
      margin: auto;
      width: 45px; height: 45px;
      border-radius: 50%;
    }
  }

  table{
    background: green;
  }

  .stone-b{
    background: black;
    margin: auto;
    width: 45px; height: 45px;
    border-radius: 50%;
  }
  .stone-w{
    background: white;
    margin: auto;
    width: 45px; height: 45px;
    border-radius: 50%;
  }

  div.game-end {
    margin-bottom: 5px;
  }
}

div.message {
  background-color: bisque;
  font-size: 30px;
  margin: 20px 0;
  width: 550px;
  border: 3px solid #ccae54;
  border-radius: 10px;
  padding: 0 10px;
}

div.score-board {
  background-color: #b3d7ff;
  border: 3px solid;
  border-radius: 14px;
  font-size: 30px;
  padding: 0 15px;
  margin-bottom: 20px;

  .score {
    display: -webkit-box;
  }
  div {
    &.stone-color {
      width: 100px;
    }

    &.user-info {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* 吹き出し */

.fukidashi {
  display: none;
  width: 200px;
  position: absolute;
  top: 120px;
  left: 140px;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
}

.fukidashi:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

/* チャット */

#chat-contents {
  padding: 20px 10px;
  max-width: 450px;
  text-align: left;
  font-size: 14px;
  background: #7da4cd;
  margin-top: 10px;
  height: 460px;
  overflow: auto;
  border: 2px solid;

  p {
    overflow: hidden;
    width: 100%;
    text-align: left;
    display: inline-block;
    position: relative;
    //margin-top: 10px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #f9f9f9;
  }

  .mine {
    text-align: right;
    p {
      background-color: #73ec89;
    }
  }
}
