@import "bootstrap";

/* 全体 */

.flash {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  &_alert{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  &_warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  &_notice {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
}

/* ナビゲーションバー */
nav a {
  color: white;
  padding-right: 8px;
}

/* ゲームテーブル */

td{
  width: 60px; height: 60px;
  border: 1px solid;
  text-align: center;
  border: medium solid black;
}

table{
  background: green;
}

.stone-b{
  background: black;
  margin: auto;
  width: 45px; height: 45px;
  border-radius: 50%;
}
.stone-w{
  background: white;
  margin: auto;
  width: 45px; height: 45px;
  border-radius: 50%;
}

/*  */

.fukidashi {
  display: none;
  width: 200px;
  position: absolute;
  top: 120px;
  left: 140px;
  padding: 16px;
  border-radius: 5px;
  background: #33cc99;
  color: #fff;
  font-weight: bold;
}

.fukidashi:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #33cc99;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

/* チャット */

#chat-contents {
  padding: 20px 10px;
  max-width: 450px;
  text-align: left;
  font-size: 14px;
  background: #7da4cd;
  margin-top: 10px;
  height: 460px;
  overflow: auto;
  border: 2px solid;

  p {
    overflow: hidden;
    width: 100%;
    text-align: left;
    display: inline-block;
    position: relative;
    //margin-top: 10px;
    padding: 10px;
    max-width: 250px;
    border-radius: 12px;
    background: #f9f9f9;
  }

  .mine {
    text-align: right;
    p {
      background-color: #73ec89;
    }
  }
}
